@media (max-width: 414px) {
  .about-left {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
  }
  .about-left img {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    opacity: .1;
  }
  .about-right {
    display: flex;
    top: 0px;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 415px) and (max-width: 750px) {
  .about-left {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .about-left img {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    opacity: .1;
  }
  .about-right {
    top: 40%;
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
  .about p {
    display: inline-block;
  }
}
@media (min-width: 751px) and (max-width: 1199px) {
  .about-left {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .about-left img {
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    opacity: .1;
  }

  .about-right {
    top: 40%;
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
  .about p {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .about {
    display: flex;
  }
  .about-left {
    position: relative;
    display: inline-block;
    width: 50%;
    float: left;
    overflow: hidden;
  }
  .about-left img {
    width: 100%;
  }
  .about-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
  }
  .about-par {
    max-width: 90%;
    flex: none;
    /* position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto; */
  }
  .about p {
    display: block;
    width: 90%;
  }
}
.about {
  display: flex;
  justify-content: center;
  min-width: 300px;
  height: 100%;
  width: 100%;
  background: #bdcfdd;
  bottom: 0px;
  position: relative;
  color: black;
}
.about p {
  color: black;
  font-size: 20px;
}

.about-right img {
  margin-top: 20px;
  width: 100px;
}
