html {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Vollkorn', serif;
	width: 100%;
	height: 700vh;
	-webkit-transition: opacity .5s ease-in;
	-moz-transition: opacity .5s ease-in;
	-o-transition: opacity .5s ease-in;
	-ms-transition: opacity .5s ease-in;
	transition: opacity .5s ease-in;
}
a {
	text-decoration: none;
	color: white;
	font-size: 24px;
	line-height: 125%;
	font-family: "volkorn";
}
h1 {
	font-size: 3em;
}
p {
	color: white;
  font-size: 30px;
	line-height: 200%;
}
span {
	line-height: 200%;
}
