@media (max-width: 456px) {
  .scroll-wrap {
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .intro-wrapper {
    text-align: center;
    max-width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    top: 50px;
  }
  .intro-hi {
    font-size: 96px;
    line-height: 90%;
    margin-bottom: 50px;
  }
  .intro {
    font-size: 24px;
  }
}
@media (min-width: 457px) and (max-width: 1200px) {
  .scroll-wrap {
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 200px;
  }
  .intro-wrapper {
    text-align: center;
    max-width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    top: 250px;
  }
  .intro-hi {
    font-size: 96px;
    line-height: 90%;
    margin-bottom: 50px;
  }
  .intro {
    font-size: 24px;
  }
}
@media (min-width: 1201px) {
  .scroll-wrap {
    top: calc(50% - 68px);
    right: 30px;
  }
  .intro-wrapper {
    top: 40%;
    left: 10%;
    max-width: 50%;
  }
  .intro {
    font-size: 36px;
  }
  .intro-hi {
    font-size: 96px;
  }
}

.home {
  height: 100vh;
  width: 100%;
  min-width: 300px;
}
.background {
  position: absolute;
  background-image: url("../Assets/profileTest.jpg");
  /*background: #1bd394;*/
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  width: 100%;
  min-width: 300px;
  height: 100vh;
}
.intro-wrapper {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}
.intro-hi {
  font-family: "adamcgpro";
}
.contact-intro {
  opacity: 1;
  left: 10%;
  bottom: 0px;
  position: absolute;
  font-size: 24px;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}
.about-text {
  color: black;
  font-size: 30px;
  width: 800px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: calc(50% - 400px);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

.scroll-wrap {
  width: 150px;
  text-align: center;
  position: absolute;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}
.scroll-wrap img {
  width: 100px;
  margin-left: 8px;
  margin-bottom: -20px;
}
.scroll-wrap p {
  font-size: 18px;
  line-height: 150%;
}
.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}
