.pop-up {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
  z-index: 104;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  -ms-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}
.pop-up-background {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: .7;
  position: fixed;
}
.pop-up-window {
  width: 315px;
  height: 140px;
  position: fixed;
  left: calc(50% - 187px);
  top: calc(50% - 100px);
  background: white;
  padding: 30px;
  border-radius: 5px;
}
.pop-up p {
  color: black;
  font-size: 20px;
  line-height: 150%;
}
.pop-up a {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: #1bd394;
  border: #189e7f solid 1px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  transition: color .1s ease;
}
.pop-up a:hover {
  background: #189e7f;
}
