@media (max-width: 1200px) {
  .project-grid {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
  }
  .project-image {
    position: relative;
    height: 400px;
    width: 100vw;
    background-position: center top;
    background-size: auto 100%;
  }

  .projects {
    height: 100vh;
    width: 100%;
    top: 0px;
    position: relative;
  }
  .project-grid a {
    position: absolute;
    top: calc(50% - 23px);
    left: 0;
    right: 0;
    margin: auto;
    background: black;
    color: white;
  }
}
@media (min-width: 1201px) {
  .project-grid {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in;
    -moz-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    -ms-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in;
  }
  .project-image {
    position: relative;
    height: 100%;
    width: 15%;
    background-position: center top;
    background-size: auto 100%;
    -webkit-transition: width .25s ease-in;
    -moz-transition: width .25s ease-in;
    -o-transition: width .25s ease-in;
    -ms-transition: width .25s ease-in;
    transition: width .25s ease-in;
  }
  .project-image:first-of-type {
    width: 40%;
  }
  .project-grid a {
    position: absolute;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    bottom: 100px;
    left: calc(50% - 91px);
  }
}
.project-grid {
  min-width: 300px;
  overflow: hidden;
}
.puap-link {
  width: 102px;
}
.krgr-link {
  width: 108px;
}
.otp-link {
  width: 91px;
}
.bth-link {
  width: 92px;
}
.youchoose-link {
  width: 171px;
}
.puap-container {
  background-image: url("../Assets/family.jpg");
}
.krgr-container {
  background-image: url("../Assets/family.jpg");
}
.otp-container {
  background-image: url("../Assets/Jhin.jpg");
}
.bth-container {
  background-image: url("../Assets/basketballrainbow.jpg");
}
.youchoose-container {
  background-image: url("../Assets/youChooseScreenshot.jpg");
}
.project-grid a {
  position: absolute;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
.project-grid a:hover {
  background: white;
  color: black;
}
